* {
  margin: 0;
}

header {
  height:120px;
  background-color:rgb(24, 24, 24);
  width: 100vw;
  margin-bottom:50px;
}

.game-screen {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;

  justify-content: center;

  height: 840px;
  width: 1366px;
  background-color:rgb(44, 44, 44)
}

